{{#extends "base"}}

{{#block "content"}}
<div class="row justify-content-between">
  <div class="col-4">
    <h1 class="display-3">Posters</h1>
  </div>
</div>
<div class="row mx-2">
  <form method="GET">
    {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary btn-sm" value="Search" />
  </form>
</div>
<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Cost</th>
        <th scope="col">Stock</th>
        <th scope="col">Height</th>
        <th scope="col">Width</th>
        <th scope="col">Description</th>
        <th scope="col">Media Properties</th>
        <th scope="col">Tags</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each posters}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.date}}</td>
        <td>
          {{#if this.image_url}}
          <img src="{{this.image_url}}" class="img-fluid" height="150" />
          {{/if}}
        </td>
        <td>{{this.title}}</td>
        <td>{{this.cost}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.height}}</td>
        <td>{{this.width}}</td>
        <td>{{this.description}}</td>
        <td>{{this.mediaProperty.name}}</td>
        <td>
          {{#each this.tags}}
          <span class="m-1 badge bg-info">{{this.name}}</span>
          {{/each}}
        </td>
        <td>
          <a class="btn btn-sm btn-primary mb-1" href="/posters/{{this.id}}/update">Update</a>
          <a class="btn btn-sm btn-secondary mb-1" href="/posters/{{this.id}}/delete">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{/block}}
{{/extends}}